$base-color: #eaedf2;
$base-border-color: #e1e2e4;



.table{
    display: flex;
    list-style: none;
    border-collapse: collapse;
    // border:.5px solid $base-border-color;

}
.m-Button{
    padding: 13px 3px;
    line-height: 1;
    background: hsla(0,0%,67%,.5);
    position: absolute;
    top: 32%;
    z-index: 1;
    color: #fff;
    display: block;
 
}
.m-rightButton{
    right: 0;
}
.m-leftButton{
    left: 0;
}

.row-box{
   tr{
        font-size: 14px;
        display: flex;
        td{
            overflow: hidden;
            width:calc(100% - 88px);
                div{
                    transition: all 0.3s ease-in-out 0s;
                    div{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // min-width: 33.333%;
                        // text-align: center;
                        // min-width: calc(100% /3);
                        height: 50px;
                        line-height: 21px;
                        border-right: 1px solid $base-border-color;
                        border-bottom: 1px solid $base-border-color;
                    }
                }
            }
    }
    
    tr td:first-child {
        width: 88px;
        display: flex;
        justify-content: center;
        align-items: center;
    }  
}
.dateTitle span{
    display: block;
    // :first-child(1){
    //     text-align: right;
    // }
}

.m-table{
    width: 100%;
    table-layout: fixed;
}

.navDate-bg{
    background: $base-color;
    border-top: 1px solid $base-border-color;
    border-right: 1px solid $base-border-color;
}
.navDate-title-bg{
    background: $base-color;
    border-top: 1px solid $base-border-color;
    border-left: 1px solid $base-border-color;
    border-right: 1px solid $base-border-color;
    
}

@for $i from 1 through 4 {
    .show-#{$i}{
        min-width: calc(100% /#{$i})
    }
}

// @for $i from 1 through 4 {
//     .moveLeft-#{$i}{
//         transform: translateX(33.333%*#{$i});
//     }
//     .moveRight-#{$i}{
//         transform: translateX(-33.333%*#{$i});
//     }
// }
.moveRight-3{
    transform: translateX(-33.333% *3);
}





.nowrap{
    white-space:nowrap; 
    display: flex;
}

// .hidden{
//   width:100%;
// }


@media (min-width: 767px) {
    @for $i from 1 through 4 {
        .show-#{$i}{
            min-width: calc(100% /7);
           
        }
    }
    .moveRight-3{
        transform: translateX(0%);
    }
    .m-Button{
      display: none;
     
    }
    
    
    
}