.table{
    border: 1px solid black ;
    overflow: hidden;  
    display: flex;
    height: 100vh;
}
.column-box{
    width:10%;
    height: 100%;
    list-style: none;
}
.column-box li {
    height: 12.5%;
    /* display: flex;
    justify-content: center;
    align-items: center;  */
}

.row-box{
    width: 90%;
    height: 100%;    
}

.row-box td{
    height: 12.5%;  
}
.row-box tr th{
    height: 12.5%;  
}


/* 
.table  th {
    padding: 5px;
}
.table td  {
    padding: 5px;
} */

/*以手機板為主要開發 斷點設定*/
@media (min-width: 767px) {
    .table{
         max-width:500px;
         color:red;
         margin: 0 auto;
         overflow: none;  
     }
    
}